* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  height: 100vh;
}


#blob {
  height: 80vh;
  width: 80vh;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate-blob 15s infinite;
  filter: blur(250px);
  z-index: -1;
}

@keyframes rotate-blob{
  from{
      rotate: 0deg;
  }
  to{
      rotate: 360deg;
  }
}


header {
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  overflow: hidden;
  display: flex;
  justify-content: right;
  /* position: fixed; */
  border: 2px solid pink;
}
nav {
  filter: none;
  text-align: right;
  display: flex;
  justify-content: right;
  align-items: center;
  /* border: 2px solid blue; */
  margin-right: 5vw;
}
.navbar-links {
  color: white;
  /* border: 2px solid red; */
  margin: 10px;
  padding: 5px;
  height: 20%;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}
.navbar-links:hover {
  cursor: pointer;
  text-decoration: underline;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  height: calc(85vh - 4rem);
}

.center-container {
    display: flex;
    flex-direction: column;
    border: 2px solid blue;
    padding: 25px;
    border-radius: 25px;
}

.drag-n-drop-box {
    color: white;
    border: 2px solid cyan;
    height: 250px;
    width: 400px;
    margin: 0px 0px 25px 0px;
    border-style: dashed;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid yellow;
}
.buttons {
    border: 2px solid rgb(255, 111, 0);
    color: white;
    height: 50px;
    width: 120px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
  z-index: -1;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
