* {
  margin: 0;
  padding: 0;
  /* font-family: 'Poppins', sans-serif; */
  font-family: sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: black;
  overflow-x: hidden;
}

header {
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  overflow: hidden;
  display: flex;
  justify-content: right;
  /* position: fixed; */
  /* border: 2px solid pink; */
}
nav {
  filter: none;
  text-align: right;
  display: flex;
  justify-content: right;
  align-items: center;
  /* border: 2px solid blue; */
  margin-right: 5vw;
}
.navbar-links {
  color: white;
  /* border: 2px solid red; */
  margin: 10px;
  padding: 5px;
  height: 20%;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}
.navbar-links:hover {
  cursor: pointer;
  text-decoration: underline;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

.first-body {
  background-image: url(images/ct-scan-background.jpg);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  overflow: hidden;
  align-content: center;
}
.first-body-center-container {
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 0px 0px 10vw;
}


.container-text h1 {
  margin: 0px 0px 5vw 0px;
  font-size: 4em;
}

.container-text p {
  /* border: 2px solid green; */
  font-size: 1.5em;
  margin: 0px 0px 2vw 0px;
}
.get-started-button {
  border: 2px solid white;
  border-radius: 5px;
  width: fit-content;
  padding: 20px 40px 20px 40px;
  transition: all 0.2s;
}
.get-started-button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  transition: all 0.4s;
}
html {
  scroll-behavior: smooth;
}


.second-body {
  height: 85vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.second-body h1 {
  text-align: center;
  margin: 50px;
}
.second-body p{
  max-width: 800px;
  text-align: center;
}
footer {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #000000;
  background-image: linear-gradient(to bottom, #000000 0%, #01162a 74%);
}
